@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Black.woff") format("woff");
  font-weight: 900;
}

body {
  font-family: "HalvarBreitschrift", sans-serif;
  font-weight: 400;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: transparent;
  color: #fff;
}

.header a {
  color: #fff;
  cursor: pointer;
}

.header .menu {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  margin-top: auto;
}

.header .top-bar {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .numbers {
  display: flex;
  gap: 45px;
  color: #fff;
}

.header .numbers-item {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
}

.country-span {
  margin-right: 5px;
  font-weight: 700;
}

.header .order-call {
  display: flex;
  width: 150px;
  height: 22px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #fff;
}

.soc-media-links {
  display: flex;
  gap: 4px;
}

.soc-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #2d4d76;
  border-radius: 100%;
}

.inst {
  padding-top: 1px;
  padding-left: 1px;
}

.youtube {
  padding-left: 1px;
}

.header .bottom-bar {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 45px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  margin-right: 47px;
}

.select-lang {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}

/* Hero */
.hero {
  padding-top: 150px;
  padding-bottom: 111px;
  background-image: linear-gradient(
      0deg,
      rgba(45, 77, 118, 0) 0%,
      rgba(28, 36, 69, 0.8) 100%
    ),
    linear-gradient(270deg, rgba(45, 77, 118, 0) 0%, #1c2445 100%),
    url("../images/hero-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero .text {
  padding-top: 39px;
}

.hero .title {
  margin-bottom: 158px;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero .info {
  width: 697px;
  height: 121px;
  border-radius: 10px;
  background: linear-gradient(90deg, #8dc8e5 0%, #2d4d76 100%);
}

.form {
  width: 347px;
  height: 439px;
  background-color: #fff;
  border-radius: 20px;
}
