@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Black.woff") format("woff");
  font-weight: 900;
}

body {
  font-family: "HalvarBreitschrift", sans-serif;
  font-weight: 400;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

form input {
  font-size: 12px;
}

/* Header */
.header a {
  color: #fff;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: #fff;
}

.header .order-call {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #fff;
}

.soc-media-links {
  display: flex;
}

.soc-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d4d76;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 24px;
  }

  .header .logo,
  .header .numbers,
  .nav-list {
    display: none;
  }

  .header .logo-mobile {
    display: block;
    width: 209px;
    margin-bottom: 39px;
  }

  .header .order-call {
    margin-right: 17px;
    width: 158px;
    height: 34px;
    font-size: 11px;
  }

  .header .bars {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
  }

  .header .top-bar {
    display: flex;
  }

  .soc-media-links {
    gap: 8px;
  }

  .soc-media-links .viber-link {
    display: none;
  }

  .soc-media-icon {
    width: 34px;
    height: 34px;
  }

  .soc-media-inst {
    width: 19px;
    height: 19px;
  }

  .soc-media-youtube {
    width: 23px;
    height: 17px;
    padding-left: 2px;
  }

  .select-lang {
    margin-left: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .icon-select-lang {
    width: 11px;
    height: 7px;
  }

  .header .line {
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  .header .mobile-elements {
    display: flex;
    justify-content: space-between;
  }

  .header .mobile-quick-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 601px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .header .menu {
    display: flex;
    justify-content: space-between;
  }

  .header .logo-mobile {
    display: none;
  }

  .header .logo {
    margin-top: auto;
  }

  .header .top-bar {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .numbers {
    display: flex;
    gap: 45px;
    color: #fff;
    opacity: 0.8;
  }

  .header .numbers-item {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.6;
  }

  .country-span {
    margin-right: 5px;
    font-weight: 700;
  }

  .header .order-call {
    width: 150px;
    height: 22px;
    font-size: 10px;
    opacity: 0.8;
  }

  .soc-media-links {
    gap: 4px;
  }

  .soc-media-icon {
    width: 22px;
    height: 22px;
  }

  .soc-media-inst {
    width: 14px;
    height: 14px;
    padding-top: 1px;
    padding-left: 1px;
  }

  .soc-media-youtube {
    width: 16px;
    height: 11px;
    padding-left: 1px;
  }

  .header .bottom-bar {
    display: flex;
  }

  .nav-list {
    display: flex;
    gap: 45px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    margin-right: 47px;
    opacity: 0.8;
  }

  .select-lang {
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    opacity: 0.8;
  }

  .icon-select-lang {
    width: 5px;
    height: 3px;
  }

  .header .line {
    display: none;
  }

  .header .mobile-elements {
    display: none;
  }
}

.hero .title {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.flag-img {
  display: inline-block;
  border-radius: 3px;
}

.hero .form-box {
  background-color: #fff;
  border-radius: 20px;
}

.hero .form-title {
  margin-bottom: 36px;
  color: #2d4d76;
  text-align: center;
  font-weight: 700;
}

.hero-form {
  text-align: center;
}

.hero-form-input {
  margin-bottom: 39px;
  width: 198px;
  border: none;
  border-bottom: 1px solid #111;
}

.hero-form-input:last-child {
  margin-bottom: 33px;
}

.hero-form-input::placeholder {
  color: #929ba0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.hero-form-input:focus {
  outline: none;
}

.hero-checkbox-container {
  margin-bottom: 36px;
  display: flex;
  align-items: flex-start;
  gap: 11px;
  width: 198px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #b6d9ed;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.checkbox::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.checkbox:checked::before {
  background-color: #fff;
}

.checkbox:checked::after {
  content: "";
}

.checkbox:checked::before {
  background-color: #2d4d76;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.checkbox-label {
  text-align: left;
  color: #2d4d76;
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
}

.hero-submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 226px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d4d76;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 20px;
}

/* Hero */
@media screen and (max-width: 600px) {
  .hero {
    margin-bottom: 394px;
    padding-top: 233px;
    padding-bottom: 98px;
    background-image: linear-gradient(
        0deg,
        rgba(45, 77, 118, 0) 0%,
        rgba(28, 36, 69, 0.8) 100%
      ),
      linear-gradient(270deg, rgba(45, 77, 118, 0) 0%, #1c2445 100%),
      url("../images/hero-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
  }

  .hero-container {
    position: relative;
  }

  .hero-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 220px;
    width: 1482px;
    height: 102px;
    background-image: url("../images/decoration-hero-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero .title {
    margin-bottom: 10px;
    font-size: 27px;
  }

  .flag-img {
    width: 32px;
    height: 19px;
    margin-bottom: 3px;
  }

  .hero .info-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .info-item {
    width: 135px;
    padding: 9px 9px 13px 13px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #8dc8e5 0%, #2d4d76 100%);
  }

  .hero .info-list .info-item:last-child {
    width: 177px;
  }

  .hero-info-content {
    position: relative;
  }

  .hero .target-list {
    position: absolute;
    top: 0;
    left: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .target-item {
    display: flex;
    align-items: center;
    gap: 7px;

    font-size: 9px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
  }

  .icon-target {
    width: 27px;
    height: 27px;
    padding: 10px 9px;
    background-color: #b6d9ed;
    border-radius: 100%;
  }

  .info-item-title {
    margin-bottom: 1px;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .info-item-text {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.1;
  }

  .hero .form-box {
    position: absolute;
    bottom: -472px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 321px;
    padding: 31px 42px 52px 42px;
    filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.25));
  }

  .hero .form-title {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 601px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 111px;
    background-image: linear-gradient(
        0deg,
        rgba(45, 77, 118, 0) 0%,
        rgba(28, 36, 69, 0.8) 100%
      ),
      linear-gradient(270deg, rgba(45, 77, 118, 0) 0%, #1c2445 100%),
      url("../images/hero-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
  }

  .hero .text {
    padding-top: 39px;
  }

  .hero .title {
    margin-bottom: 12px;
    font-size: 50px;
  }

  .flag-img {
    margin-bottom: 7px;
  }

  .hero .target-list {
    margin-bottom: 112px;
    display: flex;
    gap: 15px;
  }

  .target-item {
    display: flex;
    align-items: center;
    gap: 9px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
  }

  .icon-target {
    width: 35px;
    height: 35px;
    padding: 13px 11px;
    background-color: #b6d9ed;
    border-radius: 100%;
  }

  .hero .info-list {
    width: 697px;
    padding: 18px 18px 25px 35px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(90deg, #8dc8e5 0%, #2d4d76 100%);
  }

  .info-item-title {
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }

  .info-item-text {
    width: 136px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }

  .info-item:nth-child(3) .info-item-text {
    width: 232px;
  }

  .hero .form-box {
    width: 347px;
    padding: 36px 35px 52px 35px;
  }

  .hero .form-title {
    font-size: 18px;
    line-height: 1.3;
  }
}

/* Actual */
@media screen and (max-width: 600px) {
  .actual {
    margin-bottom: 23px;
  }

  .actual .title {
    margin-bottom: 11px;
    width: 282px;
    color: #1c2445;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  .actual .filter {
    margin-bottom: 17px;
    display: flex;
  }

  .actual .filter-input {
    width: 140px;
    height: 32px;
    margin-right: 6px;
    padding-left: 19px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    color: #929ba0;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    border: 1px solid #929ba0;
    background: #f6f6f6;
  }

  .filter-icon-arrow:not(:last-child) {
    margin-left: 18px;
    margin-right: 3px;
  }

  .actual .filter-currency {
    display: flex;
    gap: 4px;
  }

  .currency-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #929ba0;
    border: 1px solid #929ba0;
    background-color: transparent;
    border-radius: 100%;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
  }

  .currency-item.active {
    color: #fff;
    background-color: #1c2445;
    border: 1px solid #1c2445;
  }

  .actual-slider-ctrl {
    margin-left: auto;
    display: flex;
    gap: 2px;
  }

  .actual-slider-btn-ctrl {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: 1px solid #2d4d76;
    background-color: transparent;
  }

  .actual-slider-icon {
    width: 13px;
    height: 13px;
  }

  .actual-list {
    margin-bottom: 16px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .label-hot {
    display: none;
  }

  .actual-img {
    margin-bottom: 13px;
    width: 100%;
    height: 199px;
    object-fit: cover;
    background-color: grey;
    border-radius: 10px;
  }

  .additional-info {
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    color: #929ba0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }

  .additional-info span {
    color: #929ba0;
  }

  .location-label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .actual-list .item-title {
    margin-bottom: 19px;
    color: #1c2445;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }

  .actual .item-data {
    margin-bottom: 12px;
    display: flex;
    align-items: end;
  }

  .actual .item-data .price {
    color: #2d4d76;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  .actual .item-data .label {
    margin-right: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
  }

  .actual .item-data .label:nth-child(2) {
    margin-right: auto;
  }

  .actual .line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #1c2445;
  }

  .actual-buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .actual-buttons .button {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 20px;
  }

  .actual-button {
    color: #fff;
    border: 1px solid #2d4d76;
    background-color: #2d4d76;
  }

  .consult-button {
    color: #3b587e;
    border: 1px solid #2d4d76;
    background-color: transparent;
  }
}

@media screen and (min-width: 601px) {
  .actual {
    padding-top: 80px;
    padding-bottom: 35px;
  }

  .actual .title-filter-box {
    margin-bottom: 28px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .actual .title {
    width: 608px;
    color: #1c2445;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }

  .actual .filter {
    margin-top: 70px;
    display: flex;
  }

  .actual .filter-input {
    margin-right: 11px;
    padding-left: 22px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    height: 24px;
    color: #929ba0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    border: 1px solid #929ba0;
    background: #f6f6f6;
  }

  .filter-icon-arrow:not(:last-child) {
    margin-left: 18px;
    margin-right: 3px;
  }

  .actual .filter-currency {
    margin-right: 143px;
    display: flex;
    gap: 6px;
  }

  .currency-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #929ba0;
    border: 1px solid #929ba0;
    background-color: transparent;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }

  .currency-item.active {
    color: #fff;
    background-color: #1c2445;
    border: 1px solid #1c2445;
  }

  .actual-slider-ctrl {
    display: flex;
    gap: 5px;
  }

  .actual-slider-btn-ctrl {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid #2d4d76;
    background-color: transparent;
  }

  .actual-slider-icon {
    width: 10px;
    height: 10px;
  }

  .actual-list {
    margin-bottom: 31px;
    display: flex;
    gap: 30px;
  }

  .actual-list-item {
    position: relative;
    width: calc(100% - 30px * 2 / 3);
  }

  .label-hot {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 9px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 8px;
    font-weight: 400;
    line-height: 2;
    border-radius: 20px;
  }

  .actual-img {
    margin-bottom: 18px;
    width: 100%;
    height: 260px;
    object-fit: cover;
    background-color: grey;
    border-radius: 10px;
  }

  .additional-info {
    margin-bottom: 23px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    color: #929ba0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }

  .additional-info span {
    color: #929ba0;
  }

  .location-label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .actual-list .item-title {
    margin-bottom: 27px;
    width: 330px;
    color: #1c2445;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
  }

  .actual .item-data {
    display: flex;
    align-items: end;
    margin-bottom: 23px;
  }

  .actual .item-data .price {
    color: #2d4d76;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
  }

  .actual .item-data .label {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
  }

  .actual .item-data .label:nth-child(2) {
    margin-right: auto;
  }

  .actual .line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #1c2445;
  }

  .actual-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .actual-buttons .button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 20px;
  }

  .actual-button {
    width: 165px;
    color: #fff;
    border: 1px solid #2d4d76;
    background-color: #2d4d76;
  }

  .consult-button {
    width: 271px;
    color: #3b587e;
    border: 1px solid #2d4d76;
    background-color: transparent;
  }
}

/* Benefits */
@media screen and (max-width: 600px) {
  .benefits .container {
    padding: 30px 21px 37px 28px;
    border-radius: 20px;
    background: linear-gradient(180deg, #2d4d76 0%, #1c2445 100%);
  }

  .benefits-list {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .benefits-list-item {
    display: flex;
    gap: 8px;
  }

  .benefit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #b6d9ed;
    border-radius: 100%;
  }
  .benefits-list-item:nth-child(1) .benefit-icon-content {
    width: 22px;
    height: 22px;
  }
  .benefits-list-item:nth-child(2) .benefit-icon-content {
    width: 24px;
    height: 21px;
  }
  .benefits-list-item:nth-child(3) .benefit-icon-content {
    width: 20px;
    height: 21px;
  }

  .benefit-item-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }

  .benefit-item-description {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.8;
  }
}

@media screen and (min-width: 601px) {
  .benefits .container {
    padding: 43px 67px 44px 54px;
    border-radius: 20px;
    background: linear-gradient(180deg, #2d4d76 0%, #1c2445 100%);
  }

  .benefits-list {
    display: flex;
    justify-content: space-between;
  }

  .benefits-list-item {
    display: flex;
    gap: 15px;
  }

  .benefit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    background-color: #b6d9ed;
    border-radius: 100%;
  }

  .benefits-list-item:nth-child(1) .benefit-icon-content {
    width: 30px;
    height: 30px;
  }

  .benefits-list-item:nth-child(2) .benefit-icon-content {
    width: 33px;
    height: 29px;
  }

  .benefits-list-item:nth-child(3) .benefit-icon-content {
    width: 29px;
    height: 31px;
  }

  .benefit-item-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: 6px;
  }

  .benefits-list-item:nth-child(2) .benefit-item-title {
    width: 212px;
  }

  .benefit-item-description {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    opacity: 0.8;
  }
}

/* Objects */
@media screen and (max-width: 600px) {
  .objects {
    padding-top: 26px;
    padding-bottom: 21px;
  }

  .objects-label {
    margin-bottom: 6px;
    color: rgba(45, 77, 118, 0.8);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }

  .object-title {
    margin-bottom: 9px;
    color: #2d4d76;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  .object-description {
    margin-bottom: 12px;
    color: #2d4d76;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }

  .object-price {
    margin-bottom: 18px;
    color: #2d4d76;
    font-size: 21px;
    font-weight: 700;
    line-height: normal;
  }

  .img-obj {
    margin-bottom: 12px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .more-objects-button {
    display: none;
  }

  .mobile-more-objects-button {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #2d4d76;
    background: #2d4d76;
  }

  .object-slider {
    display: none;
  }

  .mobile-object-slider {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-object-slider-ctrl {
    display: flex;
    gap: 10px;
  }

  .mobile-object-slider-btn-ctrl {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #2d4d76;
    background-color: transparent;
  }

  .mobile-object-slider-page {
    color: rgba(45, 77, 118, 0.5);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
  }
}

@media screen and (min-width: 601px) {
  .objects {
    padding-top: 65px;
    padding-bottom: 74px;
  }

  .objects-label {
    margin-bottom: 2px;
    color: #2d4d76;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  .object-title {
    margin-bottom: 14px;
    color: #2d4d76;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
  }

  .object-card {
    display: flex;
    gap: 24px;
  }

  .object-card-info {
    width: calc(50% - 24px / 2);
  }

  .object-description {
    margin-bottom: 15px;
    color: #2d4d76;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  .object-price {
    margin-bottom: 14px;
    color: #2d4d76;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
  }

  .img-obj {
    width: calc(50% - 24px / 2);
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .more-objects-button {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #2d4d76;
    background: #2d4d76;
  }

  .object-slider {
    display: flex;
    justify-content: space-between;
  }

  .object-slider-ctrl {
    display: flex;
    gap: 10px;
  }

  .object-slider-btn-ctrl {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #2d4d76;
    background-color: transparent;
  }

  .object-slider-page {
    padding-top: 10px;
    color: rgba(45, 77, 118, 0.5);
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }

  .mobile-object-slider,
  .mobile-more-objects-button {
    display: none;
  }
}

/* Catalog */
@media screen and (max-width: 600px) {
  .catalog {
    margin-bottom: 15px;
  }

  .catalog .container {
    padding: 26px 30px 144px 30px;
    background-image: url(../images/layover.png),
      linear-gradient(271deg, rgba(45, 77, 118, 0.3) 43.35%, #9d9c9a 91.64%),
      url("../images/catalog-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }

  .catalog-title {
    margin-bottom: 9px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: normal;
  }

  .catalog-benefits-item {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.1;
  }

  .catalog-benefits-item p {
    width: 195px;
  }

  .catalog-benefits-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .catalog-icon-target {
    width: 22px;
    height: 22px;
    padding: 7px 6px;
    background-color: #b6d9ed;
    border-radius: 100%;
  }

  .catalog-benefits-list {
    margin-bottom: 10px;
  }

  .catalog-button {
    width: 235px;
    height: 40px;
    color: #2d4d76;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #fff;
    background: #fff;
  }
}

@media screen and (min-width: 601px) {
  .catalog {
    margin-bottom: 28px;
  }

  .catalog .container {
    padding: 159px 60px 67px 60px;
    background-image: url("../images/catalog-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }

  .catalog-title {
    margin-bottom: 5px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }

  .catalog-benefits-item {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
  }

  .catalog-benefits-item:not(:last-child) {
    margin-bottom: 6px;
  }

  .catalog-icon-target {
    width: 35px;
    height: 35px;
    padding: 13px 11px;
    background-color: #b6d9ed;
    border-radius: 100%;
  }

  .catalog-benefits-list {
    margin-bottom: 20px;
  }

  .catalog-button {
    width: 250px;
    height: 40px;
    color: #2d4d76;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #fff;
    background: #fff;
  }
}

/* Details */
@media screen and (max-width: 600px) {
  .details {
    margin-bottom: 26px;
  }

  .details .container {
    padding: 41px 20px 39px 20px;
    background-image: url(../images/details-background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 20px;
  }

  .details-title {
    margin-bottom: 10px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.1;
  }

  .details-text {
    margin-bottom: 13px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
  }

  .details-list {
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .detail-icon-container {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: linear-gradient(
      58deg,
      #fff -27.24%,
      rgba(255, 255, 255, 0) 86.86%
    );
  }

  .detail-icon {
    position: absolute;
    top: 3px;
    right: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
    fill: none;
    stroke: white;
  }

  .detail-item {
    display: flex;
    gap: 13px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 0.9;
  }

  .details-item-text-content {
    width: 223px;
  }

  .details-item-text {
    width: 223px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
  }

  .detail-item:nth-child(4) .details-item-text {
    width: 210px;
  }

  .detail-item-add-text {
    margin-top: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.4;
  }

  .details .form-box {
    width: 289px;
    padding: 37px 25px 39px 25px;
    background-color: #fff;
    border-radius: 20px;
  }

  .details .form-title {
    width: 239px;
    margin-bottom: 30px;
    color: #2d4d76;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
  }
}

@media screen and (min-width: 601px) {
  .details {
    margin-bottom: 48px;
  }

  .details .container {
    padding: 41px 59px 39px 54px;
    background-image: url(../images/details-background-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details-title {
    width: 562px;
    margin-bottom: 17px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1;
  }

  .details-text {
    margin-bottom: 20px;
    width: 654px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  .details-list {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .detail-icon-container {
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: linear-gradient(
      58deg,
      #fff -27.24%,
      rgba(255, 255, 255, 0) 86.86%
    );
  }

  .detail-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    fill: none;
    stroke: white;
  }

  .detail-item {
    display: flex;
    gap: 14px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 0.9;
  }

  .details-item-text-content {
    width: 270px;
  }

  .details-item-text {
    width: 270px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }

  .detail-item:nth-child(4) .details-item-text {
    width: 229px;
  }

  .detail-item-add-text {
    margin-top: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  .details .form-box {
    width: 347px;
    padding: 37px 39px 37px 42px;
    background-color: #fff;
    border-radius: 20px;
  }

  .details .form-title {
    width: 269px;
    margin-bottom: 20px;
    color: #2d4d76;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
  }
}

/* Help */
.help {
  margin-bottom: 58px;
  overflow-x: hidden;
}

.help .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help-title {
  margin-bottom: 32px;
  width: 771px;
  color: #1c2445;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.help-content {
  position: relative;
  display: flex;
  gap: 30px;
}

.help-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 120px;
  right: 852px;
  width: 2589px;
  height: 179px;
  background-image: url(../images/decoration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.help-content::after {
  content: "";
  display: block;
  position: absolute;
  top: 120px;
  left: 858px;
  width: 2589px;
  height: 179px;
  background-image: url(../images/decoration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.help-box {
  width: 393px;
  padding-top: 25px;
  padding-right: 19px;
  padding-bottom: 48px;
  padding-left: 34px;
  border-radius: 20px;
}

.help-box.online {
  padding-right: 43px;
  color: #fff;
  background-image: linear-gradient(180deg, #2d4d76 0%, #1c2445 100%);
}

.help-box.offline {
  color: #2d4d76;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    linear-gradient(180deg, #8dc8e5 0%, #d6effc 100%);
}

.help-box-title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.offline .help-box-title,
.offline .help-box-subtitle {
  color: #263c62;
}

.help-box-subtitle {
  margin-bottom: 18px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.help-box-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.help-box-item {
  display: flex;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.help-box-item p {
  margin-top: 3px;
  width: 300px;
}

.help-icon-target {
  width: 24px;
  height: 24px;
  padding: 7px;
  background-color: #b6d9ed;
  border-radius: 100%;
}

/* Privileges */
.privileges {
  margin-bottom: 62px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #e7efef 0%, #e1ebeb 100%);
  overflow-x: hidden;
}

.privileges .content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.privileges .content::after {
  content: "";
  display: block;
  position: absolute;
  top: 162px;
  left: 1122px;
  width: 2185px;
  height: 151px;
  background-image: url(../images/decoration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.privileges-left-box {
  width: 507px;
}

.privileges-title {
  margin-bottom: 21px;
  color: #1c2445;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
}

.privileges-subtitle {
  color: #1c2445;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.privileges-list {
  margin-top: 15px;
  max-width: 687px;
  height: 246px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 69px;
  row-gap: 26px;
}

.privilege-item:nth-child(1),
.privilege-item:nth-child(4) {
  width: 182px;
}

.privilege-item:nth-child(2) {
  width: 158px;
}

.privilege-item:nth-child(3) {
  width: 209px;
}

.privilege-item:nth-child(5) {
  width: 205px;
}

.privilege-item-number {
  margin-bottom: 13px;
  position: relative;
  width: 49px;
  height: 49px;
  background-image: linear-gradient(
    241deg,
    #2d4d76 -27.24%,
    rgba(45, 77, 118, 0) 86.86%
  );
  border-radius: 100%;
}

.privilege-number {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #2d4d76;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.65;
}

.privilege-item-text {
  color: #1c2445;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}

.privilege-item-text .accent {
  font-weight: 700;
}

/* Guide */
.guide {
  margin-bottom: 47px;
}

.guide .container {
  padding-top: 200px;
  padding-bottom: 48px;
  padding-left: 60px;
  width: 100%;
  background-image: url("../images/guide-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.guide-title {
  margin-bottom: 7px;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.03;
}

.guide-text {
  margin-left: 6px;
  margin-bottom: 13px;
  width: 364px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

/* Choice */
.choice {
  margin-bottom: 132px;
}

.choice-title {
  margin-bottom: 6px;
  color: #1c2445;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.choice-subtitle {
  margin-bottom: 30px;
  color: #2d4d76;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.choice-container {
  width: 100%;
  border-radius: 23px;
  background-image: linear-gradient(
      265deg,
      rgba(141, 200, 229, 0.61) -0.06%,
      #2d4d76 77.11%
    ),
    url("../images/hero-background-desktop.jpg"),
    linear-gradient(180deg, #8dc8e5 0%, #2d4d76 100%),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    linear-gradient(313deg, #8dc8e5 -13.25%, #d6effc 121.89%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.quiz-container {
  padding: 31px 44px 33px 66px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    linear-gradient(313deg, #8dc8e5 -13.25%, #d6effc 121.89%);
}

.question-title {
  margin-top: 7px;
  margin-bottom: 13px;
  color: #1c2445;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

.answers-box {
  display: flex;
  gap: 13px;
}

.answer-item {
  display: flex;
  gap: 5px;
  color: #202d4f;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.quiz-radio-button {
  margin-top: 1px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border: 1.2px solid #111;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.quiz-radio-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.quiz-radio-button:checked::before {
  background-color: #fff;
}

.quiz-radio-button:checked::after {
  content: "";
}

.quiz-radio-button:checked::before {
  background-color: #2d4d76;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.quiz-progress-box {
  text-align: right;
  color: rgba(45, 77, 118, 0.5);
  font-weight: 700;
  line-height: normal;
}

.quiz-slider-page {
  font-size: 38px;
}

.quiz-slider-label {
  margin-bottom: 10px;
  margin-top: -5px;
  margin-right: 2px;
  font-size: 18px;
}

.quiz-ctrl-buttons {
  margin-right: 78px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.quiz-ctrl-button {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.quiz-ctrl-button.prev {
  background-color: transparent;
  color: rgba(45, 77, 118, 0.4);
}

.quiz-ctrl-button.next {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 96px;
  height: 40px;
  background-color: #2d4d76;
  color: #fff;
  border-radius: 20px;
}

.choice-form-container {
  padding-top: 43px;
  padding-bottom: 58px;
  padding-left: 71px;
}

.choice-form-container .title {
  margin-bottom: 23px;
  margin-left: 6px;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
}

.choice-form-box {
  width: 525px;
  padding: 27px 26px 33px 35px;
  border-radius: 20px;
  background-color: #fff;
}

.choice .form-title {
  margin-bottom: 13px;
  color: #2d4d76;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.choice-form-inputs {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.choice-form-input {
  width: 133px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.choice-form-input::placeholder {
  color: #929ba0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.choice-form-input:focus {
  outline: none;
}

.choice-checkbox-container {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  gap: 9px;
  width: 267px;
}

.choice-submit-button {
  width: 226px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d4d76;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 20px;
}

/* Trust */
.trust {
  margin-bottom: 45px;
  padding-top: 63px;
  padding-bottom: 64px;
  border-radius: 80px 80px 0px 0px;
  background-image: linear-gradient(180deg, #e7efef 0%, #e1ebeb 100%);
}

.trust .container {
  position: relative;
}

.trust-title {
  margin-bottom: 18px;
  color: #1c2445;
  font-size: 50px;
  font-weight: 700;
  line-height: 0.9;
}

.trust-text {
  width: 509px;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #2d4d76;
}

.trust-text.secondary {
  width: 535px;
  margin-bottom: 23px;
  color: rgba(45, 77, 118, 0.5);
}

.trust-thanks-text {
  margin-bottom: 8px;
  color: #1c2445;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.trust-thanks-text-accent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 45px;
  border-radius: 20px;
  background-color: #8dc8e5;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

.trust-img {
  height: 822px;
  position: absolute;
  left: 480px;
  bottom: -64px;
}

/* Process */
.process {
  margin-bottom: 48px;
}

.process-title {
  margin-bottom: 25px;
  color: #1c2445;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.process-description {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 11px;
}

.process-tabs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 426px;
}

.process-tab-item {
  padding-left: 28px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 96px;
  color: #1c2445;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 20px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    linear-gradient(277deg, #8dc8e5 4.3%, #d6effc 104.13%);
}

.process-tab-item:hover {
  cursor: pointer;
}

.process-tab-item.active {
  color: #fff;
  background-image: linear-gradient(93deg, #2d4d76 -2.02%, #1c2445 105.49%);
}

.process-icon {
  fill: currentColor;
}

.process-icon-permit {
  fill: transparent;
  stroke: currentColor;
}

.process-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 39px;
  padding-left: 45px;
  flex-grow: 1;
  background-image: url(../images/process-background-element.svg),
    linear-gradient(0deg, #2d4d76 0%, #1c2445 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.process-tab-content-text {
  width: 531px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.process-tab-content-text p:nth-child(2) {
  margin-top: 14px;
}

.process-button {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2d4d76;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

/* Company information */
.company-info {
  margin-bottom: 48px;
}

.company-info .container {
  display: flex;
  justify-content: space-between;
}

.company-info-title {
  margin-bottom: 18px;
  margin-top: 14px;
  color: #1c2445;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
}

.company-info-text {
  max-width: 539px;
  color: #2d4d76;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.company-info-text:not(:last-child) {
  margin-bottom: 18px;
}

.company-info-img {
  border-radius: 8px;
}

.company-info-imgs {
  display: flex;
  gap: 13px;
  border-radius: 8px;
}

/* Advantages */
.advantages {
  margin-bottom: 30px;
}

.advantages .container {
  padding: 41px 71px 41px 59px;
  border-radius: 20px;
  background-image: linear-gradient(180deg, #2d4d76 0%, #1c2445 100%);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list-item {
  display: flex;
  gap: 15px;
}

.advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  background-color: #b6d9ed;
  border-radius: 100%;
}

.advantages-list-item:nth-child(1) .advantage-icon {
  padding-bottom: 10px;
}

.advantages-list-item:nth-child(2) .advantage-icon {
  padding-left: 3px;
  padding-top: 2px;
}

.advantages-list-item:nth-child(3) .advantage-icon {
  padding-bottom: 3px;
}

.advantage-item-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 6px;
}

.advantage-item-description {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  opacity: 0.8;
}

/* Services */
.services {
  margin-bottom: 40px;
}

.services .container {
  padding: 68px 78px 111px 60px;
  background-image: url(../images/services-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.services .content {
  display: flex;
  align-items: end;
}

.services-title {
  margin-bottom: 14px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
}

.services-text {
  margin-bottom: 34px;
  max-width: 521px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.services-list-title {
  margin-bottom: 17px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.04;
}

.service-icon-container {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: linear-gradient(
    58deg,
    #fff -27.24%,
    rgba(255, 255, 255, 0) 86.86%
  );
}

.service-icon {
  position: absolute;
  top: 5px;
  right: 2px;
  fill: none;
  stroke: white;
}

.services-list {
  width: 552px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service-item:nth-child(odd) p {
  width: 123px;
}

.service-item:nth-child(even) p {
  width: 284px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.services-text-container {
  margin-left: auto;
  padding: 29px 42px 44px 47px;
  background-color: #fff;
  border-radius: 20px;
}

.services-text-container p {
  max-width: 424px;
  color: #25385d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

/* Mass media */
.mass-media {
  margin-bottom: 65px;
}

.mass-media-title {
  margin-bottom: 33px;
  color: #1c2445;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.mass-media-list {
  display: flex;
  justify-content: space-between;
}

.mass-media-item {
  width: 404px;
  text-align: center;
}

.video-img {
  position: relative;
  height: 227px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 8px;
  border-radius: 20px;
}

.mass-media-item:nth-child(1) .video-img {
  background-image: url(../images/video-first.jpg);
}

.mass-media-item:nth-child(2) .video-img {
  background-image: url(../images/video-second.jpg);
}

.mass-media-item:nth-child(3) .video-img {
  background-image: url(../images/video-third.jpg);
}

.video-title {
  margin-bottom: 3px;
  color: #1c2445;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.video-subtitle {
  color: #1c2445;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  width: 71px;
  height: 71px;
  border-radius: 71px;
  background: #2d4d76;
  box-shadow: 0px 4px 54px 0px #000;
}

/* Arguments */
.arguments {
  margin-bottom: 42px;
}

.arguments .content {
  display: flex;
  gap: 42px;
}

.arguments-text-box {
  position: relative;
}

.arguments-text-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1258px;
  height: 87px;
  background-image: url(../images/decoration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arguments-title {
  margin-top: 120px;
  margin-bottom: 25px;
  color: #1c2445;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1;
}

.arguments-list {
  display: flex;
  gap: 16px;
}

.argument-item:nth-child(1) {
  width: 220px;
}

.argument-item:nth-child(2) {
  width: 228px;
}

.argument-item:nth-child(3) {
  width: 192px;
}

.argument-item-number {
  margin-bottom: 13px;
  position: relative;
  width: 49px;
  height: 49px;
  background-image: linear-gradient(
    241deg,
    #8dc8e5 -27.24%,
    rgba(141, 200, 229, 0) 86.86%
  );
  border-radius: 100%;
}

.argument-number {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #8dc8e5;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.65;
}

.argument-item-text {
  color: #1c2445;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}

.argument-item-text .accent {
  font-weight: 700;
}

.arguments-slider-box {
  width: 100%;
  height: 351px;
  border-radius: 20px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    linear-gradient(313deg, #8dc8e5 -13.25%, #d6effc 121.89%);
}

.arguments-slider-box-img {
  width: 100%;
  height: 128px;
  background-image: url(../images/arguments-slider-first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}

.arguments-slider-content {
  padding: 24px 36px 32px 43px;
}

.arguments-slider-title {
  margin-bottom: 5px;
  color: #1c2445;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.arguments-slider-text {
  margin-bottom: 22px;
  width: 347px;
  color: #25385d;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.arguments-slider-ctrl {
  display: flex;
  justify-content: space-between;
}

.arguments-slider-ctrl-buttons {
  display: flex;
  gap: 8px;
}

.arguments-slider-btn-ctrl {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #2d4d76;
  background-color: transparent;
}

.arguments-slider-page {
  align-self: flex-end;
  color: rgba(45, 77, 118, 0.5);
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
}

/* Consult */
.consult {
  margin-bottom: 112px;
}

.consult .container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 175px;
  padding-left: 98px;
  background-image: linear-gradient(0deg, rgba(45, 77, 118, 0) 0%, #1c2445 100%),
    url(../images/consult-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.consult-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.consult-text {
  width: 400px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.consult-form-box {
  position: absolute;
  top: 51px;
  right: 70px;
  padding: 23px 42px 35px 42px;
  width: 379px;
  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 134px rgba(0, 0, 0, 0.25));
}

.consult-form-title {
  margin-bottom: 7px;
  color: #2d4d76;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.consult-soc-media-list {
  margin-bottom: 7px;
  justify-content: center;
  display: flex;
  gap: 13px;
}

.consult-soc-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-image: linear-gradient(
    241deg,
    #8dc8e5 -27.24%,
    rgba(141, 200, 229, 0) 86.86%
  );
}

.consult-soc-media-item:nth-child(1) {
  padding-right: 3px;
  padding-bottom: 1px;
}

.consult-soc-media-item:nth-child(3) {
  padding-bottom: 2px;
}

.consult-form-input {
  color: #929ba0;
  margin-bottom: 39px;
  width: 198px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.consult-form-input:last-child {
  margin-bottom: 33px;
}

.consult-form-input::placeholder {
  color: #929ba0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.consult-form-input:focus {
  outline: none;
}

/* Footer */
.footer .line {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #1c2445;
}

.footer .line:first-child {
  margin-bottom: 33px;
}

.footer .line:last-child {
  margin-top: 39px;
  margin-bottom: 37px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-right: 109px;
  margin-top: 18px;
}

.footer-contacts-title {
  margin-bottom: 15px;
  color: #2d4d76;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.8;
}

.footer-address {
  width: 229px;
  color: #25385d;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
}

.footer-address:not(:last-child) {
  margin-bottom: 15px;
}

.phone-numbers-list {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.phone-number {
  color: #25385d;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
}

.footer-contacts-email {
  color: #1c2445;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration-line: underline;
}

.footer-soc-media-title {
  margin-bottom: 8px;
  color: #2d4d76;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.footer-soc-media-list {
  display: flex;
  gap: 11px;
}

.footer-soc-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-image: linear-gradient(
    241deg,
    #8dc8e5 -27.24%,
    rgba(141, 200, 229, 0) 86.86%
  );
}

.footer-soc-media-item:nth-child(1) {
  padding-right: 3px;
  padding-bottom: 1px;
}

.footer-soc-media-item:nth-child(3) {
  padding-bottom: 2px;
}
