@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "HalvarBreitschrift";
  src: url("../fonts/HalvarBreit-Black.woff") format("woff");
  font-weight: 900;
}

body {
  font-family: "HalvarBreitschrift", sans-serif;
  font-weight: 400;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: transparent;
  color: #fff;
}

.header a {
  color: #fff;
  cursor: pointer;
}

.header .menu {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  margin-top: auto;
}

.header .top-bar {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .numbers {
  display: flex;
  gap: 45px;
  color: #fff;
  opacity: 0.8;
}

.header .numbers-item {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
}

.country-span {
  margin-right: 5px;
  font-weight: 700;
}

.header .order-call {
  display: flex;
  width: 150px;
  height: 22px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #fff;
  opacity: 0.8;
}

.soc-media-links {
  display: flex;
  gap: 4px;
}

.soc-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #2d4d76;
  border-radius: 100%;
}

.inst {
  padding-top: 1px;
  padding-left: 1px;
}

.youtube {
  padding-left: 1px;
}

.header .bottom-bar {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 45px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  margin-right: 47px;
  opacity: 0.8;
}

.select-lang {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  opacity: 0.8;
}

/* Hero */
.hero {
  padding-top: 150px;
  padding-bottom: 111px;
  background-image: linear-gradient(
      0deg,
      rgba(45, 77, 118, 0) 0%,
      rgba(28, 36, 69, 0.8) 100%
    ),
    linear-gradient(270deg, rgba(45, 77, 118, 0) 0%, #1c2445 100%),
    url("../images/hero-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero .text {
  padding-top: 39px;
}

.hero .title {
  margin-bottom: 12px;

  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero .target-list {
  margin-bottom: 112px;
  display: flex;
  gap: 15px;
}

.target-item {
  display: flex;
  align-items: center;
  gap: 9px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}

.icon-target {
  width: 35px;
  height: 35px;
  padding: 13px 11px;
  background-color: #b6d9ed;
  border-radius: 100%;
}

.hero .info-list {
  width: 697px;
  padding: 18px 18px 25px 35px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: linear-gradient(90deg, #8dc8e5 0%, #2d4d76 100%);
}

.info-item-title {
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
}

.info-item-text {
  width: 136px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.info-item:nth-child(3) .info-item-text {
  width: 232px;
}

.hero .form-box {
  width: 347px;
  /* height: 439px; */
  padding: 36px 35px 52px 35px;
  background-color: #fff;
  border-radius: 20px;
}

.hero .form-title {
  margin-bottom: 36px;
  color: #2d4d76;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.hero-form {
  text-align: center;
}

.hero-form-input {
  margin-bottom: 39px;
  width: 198px;
  border: none;
  border-bottom: 1px solid #111;
}

.hero-form-input:last-child {
  margin-bottom: 33px;
}

.hero-input-form::placeholder {
  color: #929ba0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.hero-form-input:focus {
  outline: none;
}

.hero-checkbox-container {
  margin-bottom: 36px;
  display: flex;
  align-items: flex-start;
  gap: 11px;
  width: 198px;
  margin-left: auto;
  margin-right: auto;
}

.hero-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #b6d9ed;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.hero-checkbox::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.hero-checkbox:checked::before {
  background-color: #fff;
}

.hero-checkbox:checked::after {
  content: "";
}

.hero-checkbox:checked::before {
  background-color: #2d4d76;
  position: absolute;
  top: 1.5px;
  left: 1.8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.hero-checkbox-label {
  text-align: left;
  color: #2d4d76;
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
}

.hero-submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 226px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d4d76;
  color: var(--Gray-6, #f2f2f2);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 20px;
}
